@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    DealerOn<br />
    7361 Calhoun Place<br />
    Suite 420<br />
    Derwood, MD 20855<br />
    <abbr title="Phone">P:</abbr>
    855.833.5993
</address>

<address>
    <strong>Code Test Submission:</strong> <a href="mailto:code@dealeron.com">code@dealeron.com</a><br />
</address>
